<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="classMapper"> 
	
	<!-- 一对一关联，连接查询 -->
	<select id="getClass" parameterType="int" resultMap="getClassMap">
		select * from class c,teacher t where c.teacher_id=t.t_id and c.c_id = #{id}
	</select>
	
	<resultMap type="Classes" id="getClassMap">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" javaType="Teacher">
			<id property="id" column="t_id"/>
			<result property="name" column="t_name"/>
		</association>
	</resultMap>
	
	
	<!-- 一对一关联 嵌套查询 -->
	<resultMap type="Classes" id="getClass2Map">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" column="teacher_id" select="getTeacher2"></association>
	</resultMap>
	
	<select id="getClass2" parameterType="int" resultMap="getClass2Map">
		select * from class where c_id = #{id}
	</select>
	
	<select id="getTeacher2" parameterType="int" resultType="Teacher">
		select t_id id,t_name name from teacher where t_id = #{id}
	</select>
	
	
	<!-- 一对多关联 连接查询 -->
	<select id="getClass3" parameterType="int" resultMap="getClass3Map">
		select * from class c,teacher t,student s where c.teacher_id=t.t_id and c.c_id = s.class_id and c.c_id=#{id}
	</select>
	
	<resultMap type="Classes" id="getClass3Map">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" javaType="Teacher">
			<id property="id" column="t_id"/>
			<result property="name" column="t_name"/>
		</association>
		<collection property="students" ofType="Student">
			<id property="id" column="s_id"/>
			<result property="name" column="s_name"/>
		</collection>
	</resultMap>
	
	<!-- 一对多关联 嵌套查询 -->
	<resultMap type="Classes" id="getClass4Map">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<association property="teacher" column="teacher_id" select="getTeacher2"></association>
		<collection property="students" column="c_id" select="getStudent">
		
		</collection>
	</resultMap>
	
	<select id="getClass4" parameterType="int" resultMap="getClass4Map">
		select * from class where c_id = #{id}
	</select>
	
	<select id="getStudent" parameterType="int" resultType="Student">
		select s_id id,s_name name from student where class_id = #{id}
	</select>
</mapper>
